.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 5em auto 2em;
  color: #8ca2b5;
  font-size: 0.9rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.or {
  font-size: 1.5em;
  color: #8ca2b5;
  padding-top: 2em;
}

.existing {
  width: 18.7em;
}

.existing button {
  margin-bottom: 1em;
  margin-right: 1em;
}

.new {
  width: 44%;
}

.new button {
  margin-top: 1em;
}

.textarea {
  margin: 2em 0;
}

.textarea textarea {
  resize: vertical;
  border-radius: 2px;
  border: solid #ddd 1px;
  box-shadow: none;
  padding: 1.7em;
  width: 100%;
  height: 200px;
  font-size: 12px;
}

.save {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.save p {
  max-width: 400px;
  color: #62717f;
  margin-top: 0;
}

.saveActions {
  display: flex;
}

.saveActions > * {
  margin-left: 2em;
}

.warning {
  color: #e55;
  text-transform: uppercase;
}

.inputsRow {
  display: flex;
  justify-content: space-between;
  margin: 1em -1em;
}

.inputsRow > * {
  margin: 1em;
}

@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .wrapper > * {
    width: 100%;
  }
  .or {
    padding-bottom: 2em;
  }
}
